<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script defer src="/socket.io/socket.io.js"></script> 
  <script defer src="../../assets/js/webpack.js"></script>
  <link rel="stylesheet" href="../../assets/css/style.css">
  <title>WebRTC Video Call</title>
</head>
<body>
  <h3>WebRTC Video Call</h3>
  <div id="roomWrapper">
    <form action="" id="roomForm">
      <label for="roomInput">Please join a room</label><br>
      <input type="text" id="roomInput" placeholder="Room Name" required>
      <button>Enter Room</button>
    </form>
  </div>
  
  <div id="videoWrapper">
    <video id="myVideo" autoplay playsinline width="400" height="400"></video>
    <div>
      <button id="audioBtn">Audio Off</button >
      <button id="videoBtn">Video Off</button>
      <select name="" id="cameraSelect">
      </select>
    </div>
  </div>
</body>
</html>